API_PORT=3001 # Qual porta você vai rodar a API
NEXT_PUBLIC_API_URL=http://localhost:3001
API_DB_POSTGRE_URL=postgres://YourUserName:YourPassword@localhost:5432/NOME_DA_TABELA # Aqui é o Database URL, substitua os parametros para configurar o banco de dados